<form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
  <h2>Trouvez votre compte</h2>
  <p>Veuillez saisir votre adresse e-mail </p>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
      <input nz-input formControlName="email" placeholder="email" type="email" />
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('email')">L'e-mail n'est pas valide !</ng-container>
        <ng-container *ngIf="control.hasError('required')">Veuillez saisir votre e-mail !</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button (click)="goToPage('')">Annuler</button>
      <button nz-button nzType="primary" type="submit">Confirmer</button>
    </nz-form-control>
  </nz-form-item>
</form>
