
  <h2>Listes des groupes</h2>
  <nz-tabset
    
    (nzSelectChange)="log([$event])"
  >
    <ng-container *ngFor="let groupe of liGroupes">
      <ng-container *ngIf="groupe.nom !== 'Client'">
        <nz-tab nzTitle="{{ groupe.nom }}">
          <h3 [ngStyle]="{ margin: '16px 0' }">Permission :</h3>
          <ul nz-list nzBordered nzSize="large">
            <li
              nz-list-item
              nzBordered
              nzSize="large"
              *ngFor="let per of groupe.permissions"
            >
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <a (click)="showDeleteConfirm(per,groupe)">Supprimer</a>
                </nz-list-item-action>
              </ul>
              {{ per.nom }}
            </li>
          </ul>
          <div class="button-container">
            <div class="bn">
              <button nz-button [nzType]="'primary'" (click)="showModal(groupe)">
                <span>Modifier</span>
              </button>
            </div>
            <div class="bn">
              <button nz-button [nzType]="'primary'" (click)="DeleteConfirm(groupe)">
                <span>Supprimer</span>
              </button>
            </div>
          </div>

          <nz-modal
            [(nzVisible)]="isVisible"
            nzTitle="Modifier {{ groupe.nom }}"
            (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleOk(groupe)"
          >
            <ng-container *nzModalContent>
              <input nz-input [(ngModel)]="nom" nzSize="default" [disabled]="true"/><br />

              <div style="border-bottom: 1px solid rgb(233, 233, 233)">
                <label
                  nz-checkbox
                  [(ngModel)]="allChecked"
                  (ngModelChange)="updateAllChecked()"
                  [nzIndeterminate]="indeterminate"
                >
                  Check all
                </label>
              </div>
              <br />
              <nz-checkbox-group
                [(ngModel)]="checkOptionsOne"
                (ngModelChange)="updateSingleChecked()"
              ></nz-checkbox-group>
            </ng-container>
          </nz-modal>
        </nz-tab>
      </ng-container>
    </ng-container>
  </nz-tabset>

