h2{
  text-align: center;
  color: #1a3c97;
  margin: 30px;
}
h3 {
  color: #1a3c97;

}
nz-tabset{
margin-left: 20px;
}

.button-container {
  margin: 30px;
  display: flex;
  justify-content: center;
}
input
{
  width: 200px;
  margin: 0 8px 8px 0;
}
.bn
{
  margin:20px;
}
.errorMsg {
  color: rgba(255, 0, 0, 0.63);
  font-size: 12px;
}
