
<h2> Bienvenue dans notre parking</h2>

<div nz-row>
  <div nz-col nzSpan="12">
    <div class="cadre" style="background-color: green; margin-left: 150px;">
      <ul>
        <li>
          <span
            nz-icon
            nzType="car"
            nzTheme="fill"
            style="font-size: 200px"
          ></span>
        </li>
        <li style="font-size: 30px;text-align: center;">
          <h1 style="margin-top: 8px"></h1>
          {{plibre}} libre
        </li>
      </ul>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <div nz-col nzSpan="12">
      <div class="cadre" style="background-color: red">
        <ul>
          <li>
            <span
              nz-icon
              nzType="car"
              nzTheme="fill"
              style="font-size: 200px"
            ></span>
          </li>
          <li style="font-size: 30px;text-align: center;">
            <h1 style="margin-top: 8px;"></h1>
            {{oplace}} occupé
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
